<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".cs" #>
// Generated Output
using System;
using System.Reactive.Linq;
using System.Reactive.Threading.Tasks;
using System.Threading.Tasks;

namespace Axiom.State.Effects;

public abstract partial class Effects<TState> where TState : struct
{
<#
const int MaxArity = 15;

for (int i = 0; i <= MaxArity; i++)
{
#>
    protected EffectResult<TState> Do<#= GenericTypes(i) #>(Actions.StateAction<#= GenericTypes(i) #> action<#= Argumens(i) #>) => new EffectResult<TState>(action<#= ArgumensArray(i) #>);
    protected InvokeOrchestratorResult<TState> Step<#= GenericTypes(i) #>(Actions.StateAction<#= GenericTypes(i) #> action<#= Argumens(i) #>, Actions.StateActionGeneric successfulAction, Actions.StateActionGeneric errorAction, bool isSuccessRequired = true) => new InvokeOrchestratorResult<TState>(action<#= ArgumensArray(i) #>, successfulAction, errorAction, isSuccessRequired);
    protected InvokeOrchestratorResult<TState> StepAsync<#= GenericTypesResult(i) #>(Actions.StateActionAsync<#= GenericTypesResult(i) #> action<#= Argumens(i) #>, bool isSuccessRequired = true) => Step(action.BeginAction<#= ArgumensNoType(i) #>, action.SuccessAction, action.ErrorAction);
    protected InvokeOrchestratorResult<TState> StepAsync<#= GenericTypes(i) #>(Actions.StateActionAsyncNoResult<#= GenericTypes(i) #> action<#= Argumens(i) #>, bool isSuccessRequired = true) => Step(action.BeginAction<#= ArgumensNoType(i) #>, action.SuccessAction, action.ErrorAction);
    protected void On<#= GenericTypes(i) #>(Actions.StateAction<#= GenericTypes(i) #> action, Func<TState<#= GenericTypesNoBracets(i) #>, Task<EffectResult<TState>>> effect) => _handers.Add(new ActionEffect<TState>((s, args) => effect(s<#= ArgumensFromArray(i) #>)).GetHandler(action));
    protected void OnAsync<#= GenericTypesResult(i) #>(Actions.StateActionAsync<#= GenericTypesResult(i) #> stateAction, Func<TState <#= GenericTypesNoBracets(i) #>, Task<TResult>> action) => On(stateAction.BeginAction, (state<#= ArgumensNoType(i) #>) => DoAction(() => action(state<#= ArgumensNoType(i) #>), x => Do(stateAction.SuccessAction, x), e => Do(stateAction.ErrorAction, e)));
    protected void OnAsync<#= GenericTypes(i) #>(Actions.StateActionAsyncNoResult<#= GenericTypes(i) #> stateAction, Func<TState <#= GenericTypesNoBracets(i) #>, Task> action) => On(stateAction.BeginAction, (state<#= ArgumensNoType(i) #>) => DoAction(() => action(state<#= ArgumensNoType(i) #>), () => Do(stateAction.SuccessAction), e => Do(stateAction.ErrorAction, e)));
    protected void OnOrchestrate<#= GenericTypes(i) #>(Actions.StateAction<#= GenericTypes(i) #> action, Func<TState<#= GenericTypesNoBracets(i) #>, Task<EffectResult<TState>>> effect) => _handers.Add(new ActionEffect<TState>((s, args) => effect(s<#= ArgumensFromArray(i) #>)).GetHandler(action));

<#
}
#>
}
<#+

string GenericTypes(int count)
{
    if(count == 0) return "";
    return "<" + string.Join(", ",
        Enumerable.Range(1, count).Select(i => $"T{i}")) + ">";
}

string GenericTypesNoBracets(int count)
{
    if(count == 0) return "";
    return ", " + string.Join(", ",
        Enumerable.Range(1, count).Select(i => $"T{i}"));
}

string GenericTypesResult(int count)
{
    if(count == 0) return "<TResult>";
    return "<TResult, " + string.Join(", ",
        Enumerable.Range(1, count).Select(i => $"T{i}")) + ">";
}

string Argumens(int count)
{
    if (count == 0) return "";
    return ", " + string.Join(", ",
        Enumerable.Range(1, count).Select(i => $"T{i} arg{i}"));
}

string ArgumensFromArray(int count)
{
    if (count == 0) return "";
    return ", " + string.Join(", ",
        Enumerable.Range(1, count).Select(i => $"(T{i})args[{i}]!"));
}

string ArgumensNoType(int count)
{
    if (count == 0) return "";
    return ", " + string.Join(", ",
        Enumerable.Range(1, count).Select(i => $"arg{i}"));
}

string ArgumensArray(int count)
{
    return ", [" + string.Join(", ",
        Enumerable.Range(1, count).Select(i => $"arg{i}")) + "]";
}

#>