<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".cs" #>
// Generated Output
using System;
using System.Reactive.Linq;
using System.Reactive.Threading.Tasks;
using System.Threading.Tasks;

namespace Axiom.State.Effects;

public abstract partial class Effects<TState> where TState : struct
{
<#
const int MaxArity = 15;

for (int i = 0; i <= MaxArity; i++)
{
#>
    protected EffectResult<TState> Do<#= GenericTypes(i) #>(Actions.StateAction<#= GenericTypes(i) #> action<#= Argumens(i) #>) => new EffectSingleResult<TState>(action<#= ArgumensArray(i) #>);
    protected void On<#= GenericTypes(i) #>(Actions.StateAction<#= GenericTypes(i) #> action, Func<TState<#= GenericTypesNoBracets(i) #>, EffectResult<TState>> effect) => _handers.Add(new ActionEffect<TState>((s, args) => effect(s<#= ArgumensFromArray(i) #>)).GetHandler(action));
<#
    if(i != 15) {
#>
    protected void OnAsync<#= GenericTypesResult(i) #>(Actions.StateActionAsync<#= GenericTypesResult(i) #> stateAction, Func<TState <#= GenericTypesNoBracets(i) #>, Task<TResult>> action) => On(stateAction.BeginAction, (state<#= ArgumensNoType(i) #>) => DoAction(() => action(state<#= ArgumensNoType(i) #>), (x) => Do(stateAction.SuccessAction, x<#= ArgumensNoType(i) #>), e => Do(stateAction.ErrorAction, e<#= ArgumensNoType(i) #>)));
    protected void OnAsync<#= GenericTypes(i) #>(Actions.StateActionAsyncNoResult<#= GenericTypes(i) #> stateAction, Func<TState <#= GenericTypesNoBracets(i) #>, Task> action) => On(stateAction.BeginAction, (state<#= ArgumensNoType(i) #>) => DoAction(() => action(state<#= ArgumensNoType(i) #>), () => Do(stateAction.SuccessAction<#= ArgumensNoType(i) #>), e => Do(stateAction.ErrorAction, e<#= ArgumensNoType(i) #>)));
    protected EffectResult<TState> Await<#= GenericTypesResult(i) #>(Actions.StateActionAsync<#= GenericTypesResult(i) #> stateAction<#= Argumens(i) #>, bool isSuccessRequired = true) => new EffectAwaitableResult<TState>(Do(stateAction.BeginAction<#= ArgumensNoType(i) #>), stateAction.SuccessAction, stateAction.ErrorAction, isSuccessRequired);
    protected EffectResult<TState> Await<#= GenericTypes(i) #>(Actions.StateActionAsyncNoResult<#= GenericTypes(i) #> stateAction<#= Argumens(i) #>, bool isSuccessRequired = true) => new EffectAwaitableResult<TState>(Do(stateAction.BeginAction<#= ArgumensNoType(i) #>), stateAction.SuccessAction, stateAction.ErrorAction, isSuccessRequired);

<#
    }
#>
<#
}
#>
}
<#+

string GenericTypes(int count)
{
    if(count == 0) return "";
    return "<" + string.Join(", ",
        Enumerable.Range(1, count).Select(i => $"T{i}")) + ">";
}

string GenericTypesNoBracets(int count, bool prefix = true, bool sufix = false)
{
    if(count == 0) return "";
    return (prefix ? ", " : "") + string.Join(", ",
        Enumerable.Range(1, count).Select(i => $"T{i}")) + (sufix ? ", " : "");
}

string GenericTypesResult(int count)
{
    if(count == 0) return "<TResult>";
    return "<TResult, " + string.Join(", ",
        Enumerable.Range(1, count).Select(i => $"T{i}")) + ">";
}

string Argumens(int count)
{
    if (count == 0) return "";
    return ", " + string.Join(", ",
        Enumerable.Range(1, count).Select(i => $"T{i} arg{i}"));
}

string ArgumensFromArray(int count)
{
    if (count == 0) return "";
    return ", " + string.Join(", ",
        Enumerable.Range(1, count).Select(i => $"(T{i})args[{i - 1}]!"));
}

string ArgumensNoType(int count, bool prefix = true)
{
    if (count == 0) return "";
    return (prefix ? ", " : "") + string.Join(", ",
        Enumerable.Range(1, count).Select(i => $"arg{i}"));
}

string ArgumensArray(int count)
{
    return ", [" + string.Join(", ",
        Enumerable.Range(1, count).Select(i => $"arg{i}")) + "]";
}

#>